---
layout: default
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post hover-post">

      <div class = "row">
        <div class = "col-lg-3 col-md-3 hidden-xs hidden-sm">
            <a href = "{{ post.img }}" target="_blank"><img src = "{{ post.img }}" class="center-image" style= "max-width: 100%;" > </a>
        </div>

        <div class = "col-lg-9 col-md-9 hidden-xs hidden-sm">

          <a href="{{ site.baseurl }}{{ post.url }}" class="post-link" target="_blank">{{ post.title }}</a>

          <span class="date" style="float: right;">
            {{ post.date | date: "%Y-%m-%d" }}
          </span>

          <div class="meta">
            {% if post.tags %}
            <ul class="tags">
              {% for tag in post.tags %}
              <li>
                <a class="tag-text" href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                  {{ tag }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if post.summary %}
            <div class="entry">
              {{ post.summary }}
            </div>
            {% endif %}
          </div>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" target="_blank">Read More</a>

        </div>

      </div>

      <div class = "row">
        <div class = "col-xs-12 col-sm-12 hidden-md hidden-lg">
          <a href="{{ site.baseurl }}{{ post.url }}" class="post-link" target="_blank">{{ post.title }}</a>

          <span class="date" style="float: right;">
            {{ post.date | date: "%Y-%m-%d" }}
          </span>

          <div clsss="meta">

            {% if post.tags %}
            <ul class="tags">
              {% for tag in post.tags %}
              <li>
                <a class="tag-text" href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                  {{ tag }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if post.summary %}
            <div class="entry">
              {{ post.summary }}
            </div>
            {% endif %}
          </div>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" target="_blank">Read More</a>

        </div>

      </div>

    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#171; Previous
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#187;
      </a>
    </span>
  {% endif %}
</div>
