---
layout: default
---

{% if page.mathjax %}
{% include mathjax.html %}
{% endif %}

<article class="post">
  <h1>{{ page.title }}</h1>

  <span class="date">
    {{ page.date | date: "%Y-%m-%d" }}
  </span>

  <div clsss="meta">
    <ul class="tags">
      {% for tag in page.tags %}
      <li>
        <a class="tag-text" href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% include share.html %}

  <hr style="margin: 0 0 10px 0;"/>

  {% if page.content_level %}
  {% include post-content.html contentLevel = page.content_level %}
  {% endif %}

  <div class="entry">

    <div>
      {{ content }}
    </div>

    <div class="pagination">
      {% if page.previous.url %}
        <span class="prev" >
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
              &#171; {{ page.previous.title }}
            </a>
        </span>
      {% endif %}
      {% if page.next.url %}
        <span class="next" >
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
              {{ page.next.title }} &#187;
            </a>
        </span>
      {% endif %}
    </div>
  </div>

  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}

</article>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
